---
---

// Colors
$purple: #742bb5;
$purple-hover: red;
$dio-black: #313131;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$font-default: 'Lato', sans-serif;
$regular: 400;
$bold: 700;
$black: 900;

body {
    font-family: $font-default;
    color: $dio-black;
    font-weight: $regular;
}

h1,
h2,
h3,
h4 {
    font-family: $font-default;
}

h1 {
    font-weight: $black;
    font-size: 36px;
}

h2 {
    font-size: 24px;
    font-weight: $bold;
}

.side-nav {
    position: fixed;
    background-color: azure;
    border-top: 0px;
    border-bottom: 0px;
    width: 200px;
    height: 100vh;
   
}

.nav-content {
    width: 200px;
    height: 100vh;
    position: relative;
}


.nav-labels {
    padding: 20px;
    margin-top: 20px;
    a {
        color: $purple;
        &:hover {
            text-decoration: none;
            color: lighten($purple, 30%);
        }
    }
    
}

.nav-footer {
    padding: 20px;
    position: absolute;
    bottom: 0px;
    
}

.social-icon {
    height: 20px;
    width: 20px;
    &:hover {
            opacity: 0.75;
        }
}


.name {
    color: $purple;
    margin-top: 10px;
    font-size: 9px;
}