<header class="fullpage">


    <div class="side-nav">
        <!--    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
        <div class="nav-content">
        <ul class="nav-labels no-bullet">
            <li><a href="../index.html">Works</a></li>
            <li><a href="../about">About</a></li>
            <li><a href="../questions">Questions</a></li>
        </ul>

        <div clas="nav-footer">
            <div class="social">
                <a target="_blank" href="https://twitter.com/alberttopdjian"><img class="social-icon" src="../img/social/twitter.svg"></a>
                <a target="_blank" href="https://medium.com/@atopdjia"><img class="social-icon" src="../img/social/medium.svg"></a>
                <a target="_blank" href="https://dribbble.com/alberttopdjian"><img class="social-icon" src="../img/social/dribble.svg"></a>
            </div>
            <div class="name">
                Albert Topdjian 2017
            </div>
        </div>
        </div>
    </div>
    <!--
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
-->



</header>
